.login-container {
    height: 100vh;
    background-image: url(../IMG/117445513_2925610227660630_2601144072236250834_o.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.login-container #login-form {
    height: 100vh;
    background-color: #fff;
    width: 30%;
    padding: 40px 10px;
}

.login-container .login-header {
    font-size: 40px;
    color: #535353;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.name-wrapper,
.form-action {
    display: flex;
    justify-content: space-between;
}

.form-action {
    align-items: center;
}

@media screen and (max-width:768px) {
    .login-container #login-form {
        width: 100%;
    }
}